{% extends 'base.html' %}

{% block title %}About - Solid Pancake{% endblock %}

{% block main %}

<div class="container">
    <p class="h1">About Solid Panacake</p>
    <p class="h4">Made by Sharyar Memon</p>
</div>
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <div class="col align-self-center">
            <p>Solid Pancake is a small web app that allows you to scrape your tweets and do some basic sentiment analysis.
            The utility uses labelled data of over 20,000 tweets with a positive and negative label. It also creates a word 
            cloud of your tweets to show you a nice visual. </p>
        </div>
        <div class="col text-center">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" class="profile-image rounded-circle img-fluid">
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- TODO: add urls to github and linkedin -->
    </div>

</div>

{% endblock %}