{% extends 'base.html' %}

{% block title %}Solid Pancake{% endblock %}

{% block main %}

<div class="container">
    <h1 class="display-1">Solid Pancake</h1>
    <h1 class="display-5">A Twitter Scraper</h1>
</div>
<div class="container">
    <p class="lead">Solid Pancake is a small web app that allows you to scrape your tweets and do some basic sentiment analysis</p>
    <p>The utility uses labelled data of over 20,000 tweets with a positive and negative label. It also creates
    a word cloud of your tweets to show you a nice visual. </p>
</div>

<div class="container">
    <form action="your-twitter" method="post" enctype="multipart/form-data">
    <label for="username">Twitter Username</label>
    <input type="text" class="form-control" placeholder="@examplusername" name="username" id="username" value="" required />
    <br>
    <button class="btn btn-primary" type="submit">Submit</button>
</div>

{% endblock %}